/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/*  Fonts */

 @font-face {
 font-family: HaleysHand;
 src: url(../webfonts/HaleysHand-Regular.ttf);
 }

 @font-face {
 font-family: HaleysHand;
 src: url(../webfonts/HaleysHand-Regular.ttf);
 }
 @font-face {
 font-family: alienation-Outline;
 src: url(../webfonts/alienation-Outline.ttf);
 }
 @font-face {
 font-family: BrusselsTitlingCaps-Regular;
 src: url(../webfonts/BrusselsTitlingCaps-Regular.ttf);
 }
 @font-face {
 font-family: Captain-Howdy-Regular;
 src: url(../webfonts/Captain-Howdy-Regular.ttf);
 }
 @font-face {
 font-family: Caveman-Regular;
 src: url(../webfonts/Caveman-Regular.ttf);
 }
 @font-face {
 font-family: CYBEI__;
 src: url(../webfonts/CYBEI__.ttf);
 }
 @font-face {
 font-family: KrazyKool-Normal;
 src: url(../webfonts/KrazyKool-Normal.ttf);
 }
 @font-face {
 font-family: QuestsHand-Regular;
 src: url(../webfonts/QuestsHand-Regular.ttf);
 }
 @font-face {
 font-family: RachelsHand-Regular;
 src: url(../webfonts/RachelsHand-Regular.ttf);
 }
 @font-face {
 font-family: TM-First-Fleet-Normal;
 src: url(../webfonts/TM-First-Fleet-Normal.ttf);
 }
 @font-face {
 font-family: JackiesHand-Regular;
 src: url(../webfonts/JackiesHand-Regular.ttf);
 }


/*side nav 2 */





.topnav {
  overflow: hidden;
  background-color: rgba(0,255,0,0.1);
  position: fixed;
  z-index:2;
}

.topnav #myLinks {
  display: none;
  z-index:2;
  background-color:black;
  position:fixed;
}

.topnav a {
  color: white;
  padding: 1vw;
  text-decoration: none;
  font-size: 20px;
  display: block;
  overflow:hidden;

}

.topnav a.icon {
  background: black;
  display: block;
  position: fixed;
  text-align:center;
  left: 0;
  top: 0;
  width:10vw;

}

.topnav a:hover {
  background-color: rgba(255,50,30,0.1);
  color: rgba(0,255,0,.8);
}

.active {
  background-color: rgba(0,50,0,0.1);
  right:0;
  color: white;
  overflow:hidden;


  margin:0;
}

.active span{
  background-color: rgba(0,50,0,0.1);
  right:0;
  top:0;
  padding-right:1vw;
  position:fixed;
  font-size:10vw;
  margin-top:-1.5vh;
  color:rgba(209, 209, 224, 1)

}
/* Side Nav Menu */


/* Index.html and all */

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: text;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    width:100vw;
    margin:0px;
    padding:0px;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    text-transform:uppercase;
    position:fixed;
}

.container {
  width:100%;
  height:100%;
  text-align: center;
}
/* Portrait layout (default) */
.header {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */

    background:url(../img/bluetexture.jpg) repeat  center;
    background-color:rgb(9, 23, 152);
    color:#b2eaed;
    border-bottom:1px solid black;
                 /* position in the center of the screen */
    /*top:90vh;*/
                    /* text area height */
    width:100vw;
    height:15vh;
    margin:0;
    margin-bottom:0px;
    padding-top:0px;
    color:pink;
    text-shadow: 2px 2px #000;

             /* text area width */
    /* text-align:center; */
    /* padding:50px 50px 50px 500px;     /* image height is 200px (bottom 20px are overlapped with text) */  /* offset vertical: half of image height and text area height */ */
                                   /* offset horizontal: half of text area width */
}

.footer {
    /*background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    background-color:rgb(9, 23, 152);
    color:#b2eaed;
                 /* position in the center of the screen */
    /*top:90vh;*/
                    /* text area height */
    width:100%;
    height:15vh;
    margin:0;
    margin-bottom:0px;
    border-top:5px solid red;
    background:url(../img/bluetexture2.jpg) repeat  center;
             /* text area width */
    /* text-align:center; */
    /* padding:50px 50px 50px 500px;     /* image height is 200px (bottom 20px are overlapped with text) */  /* offset vertical: half of image height and text area height */ */
                                   /* offset horizontal: half of text area width */
}



.apptitle {
     margin:0;
     bottom:0;
     width:100vw;
     margin-bottom: 4vh;
     height:6vh;
     position:absolute;
     background-color:rgba(255,23,32,.1);
     color:white;
     text-align:center;
     z-index: 1;
     font-size:36px;

 }
 .apptitle h1 {
      font-family: CYBEI__;
      font-size:8vw;

 }


 .banner {
      margin:0;
      bottom:0;
      width:100vw;
      position:absolute;
      background-color:rgba(255,23,32,.8);
      color:white;
      text-align:center;
      height:4vh;
      border-bottom:2px solid red;
      z-index: 1;
  }

#DButton {

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
top:20%;
height:11vh;
width:25vw;

}
.indexbutton {

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;

}

.indexbutton:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.indexbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

/* #img1 {
    background:url(../img/Donkey.jpg) no-repeat left top;
    background-size:contain;
    /* padding-left:25%; */
    width:100%;
    height:100%;/* 170px x 200px */

#row2 {
  width:100vw;
  height:70vh;
  background-color: rgba(255,0,255,1);
  overflow:hidden;
}

.Dem {
  width:50vw;
  height:100%;
  flex: 1 1 auto;
  background:url(../img/Bernie.png) no-repeat  center;
  background-position: center center;
  background-color: rgba(0,0,255,.6);
  background-size:cover;/* 170px x 200px */


}

.Rep{
  width:50vw;
  height:100%;
  flex: 1 1 auto;
  background:url(../img/Trumpu.png) no-repeat  center;
  background-position: center center;
  background-size:cover;/* 170px x 200px */


}

#col1 {

  background: repeating-linear-gradient(rgba(113, 140, 237, 1), rgb(117, 58, 136, 1) 2%, #ff5e7c 1%);
  border-style: none;
  width:50vw;
  height:70vh;
  padding:0px;
  overflow:hidden;

}

#col2 {
   background: repeating-linear-gradient(rgba(237,50,53,1), rgba(186,58,41,1) 1%, rgba(255, 34, 14, 1) 2%);
   background-color: rgba(255,0,0,.6);
   border-style: none;
   width:50vw;
   height:70vh;
   padding:0px;
   overflow:hidden;


}

#col3 {
  background:url(../img/A_Donkey_B_Elephant.jpg) no-repeat bottom center;
  background-size: cover;
  border-style: none;

}

#col4 {

 height:70vh;
  background:url(../img/lightning.png) repeat  center;
  background-size:contain;/* 170px x 200px */
  background-color: rgba(255,0,0,0.6);
  padding:0px;
  width:1.5vh;
  overflow:hidden;



}
.bolt {
  background:url(../img/lightning.png) repeat  center;
  background-size:contain;/* 170px x 200px */
  background-color: rgba(0,0,255,.6);
  border-style: none;
  height:70vh;
  width:1.25vh;
  overflow:hidden;

}

#Republican {
  background-color: rgba(0,0,255,1);
  color: rgb(255, 255, 255);
  padding:1px;
  border-radius: 50%;
  position: absolute;
  top:2vh;

}

#Democrat {
  background-color: rgba(0,0,255,1);
  color: rgb(255, 255, 255);
  padding:1px;
  border-radius: 50%;
  text-align:center;
  position: absolute;
  top:2vh;


}

.content {
 width:100vw;
 height:70vh;
 overflow-:hidden;

}


#img1 {
  width:40vw;
  height:20vh;
  padding:100%;


}

    /* offset vertical: half of image height and text area height */
/* offset horizontal: half of text area width */}

#img2 {
    background:url(../img/Elephant.jpg) no-repeat right top;
    background-size:contain;/* 170px x 200px */
    /* padding-right:25%; */
    width:100%;
    height:100%;

/* offset horizontal: half of text area width */}


#img3 {
    background:url(../img/A_Donkey_B_Elephant.jpg) no-repeat;
    background-size:contain;
    /* 170px x 200px */
/* image height is 200px (bottom 20px are overlapped with text) */
      /* offset vertical: half of image height and text area height */
/* offset horizontal: half of text area width */}
/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .header {
        background-position:left center;
        padding:0px 0px 0px 0px;  /* padding-top + padding-bottom + text area = image height */
        margin:0px 0px 0px -0px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:7vw;
    font-weight:bold;
    margin:0;
    overflow:hidden;
    padding:0;
    text-align:center;
    font-weight: bold;
    font-family: KrazyKool-Normal;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* Democrat.html */

.Democrats {
     background:url(../img/Bernie.png) no-repeat  center;
     background-position: bottom;
     background-size:cover;/* 170px x 200px */
     border-style: groove;
     width:100vw;
     height:85vh;

}
#DemocratPage {

}

.DemocratPage .topnav {
top:0;

}
.DemocratPage .apptitle {
margin-bottom:0vh;
height:4vh;
width:100vw;
position:absolute;
bottom:0;

}
.DemocratPage .header {
height:10vh;
position:relative;
color:black;
background:url(../img/Elephant.jpg);
}
.DemocratPage .footer {
height:5vh;
bottom:0;
position:absolute;
color:black;
background:url(../img/Elephant.jpg);
}
/* Republican.html */

.Republicans {
     background:url(../img/Trumpu.png) no-repeat  center;
     background-position: center;
     background-size:cover;/* 170px x 200px */
     border-style: groove;
     width:100vw;
     height:85vh;

}

#RepublicanPage {


}

.RepublicanPage .topnav {
top:0;

}
.RepublicanPage .apptitle {
margin-bottom:0vh;
height:4vh;
width:100vw;
position:absolute;
bottom:0;

}
.RepublicanPage .header {
height:10vh;
position:relative;
color:black;
background:url(../img/Elephant.jpg);
}
.RepublicanPage .footer {
height:5vh;
bottom:0;
position:absolute;
color:black;
background:url(../img/Elephant.jpg);
}

/* Settings.html */
#settingsrow {
width:100%;
height:70vh;
margin:0;
font-size: 7vw;
background-image: radial-gradient(rgba(3,42,111,.1), rgba(34,44,2,.5));
}
#settingscontent {
background-image: linear-gradient(red, yellow);
}
#settingsbutton {
  margin-top: 10vh;
  width: 40vw;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 10px 10px 5px #bbbbbb;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

}
#settingsbutton:after {
  content: "";
  background: #90EE90;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#settingsbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
